:root{
    --primaryColor:#ff206e;
    --mqinFont: "Open Sans", sans-serif;
}
body{
    font-family:var(--mainFount);
}
.text_primary{
    color: var(--primaryColor);
}
.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .navbar {
  background-color: #1f1f1f !important;
}

.dark-mode a {
  color: white !important;
}
.navbar{
    background-color: black;
}
.navbar .nav-link{
    color: #fff;
}
.navbar .navbar-nav .nav-link.active,.navbar .navbar-nav .nav-link.show {
    color: var(--primaryColor);
}
.hero{
    background-image:url(./../img/hero/bg.jpg);
    background-size: cover;
    background-position: center -100px;
    
}
.slider .carousel-indicators [data-bs-target] {
height: 30px;
border-radius: 50%;
background-color: var(--primaryColor);
}
.about ,
 .portfolio{
    background-image: url(/assets/img/public/light_dot.jpg);
}

 .portfolio .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--primaryColor);
}
 .portfolio .nav-link{
    color: black;
 }
  .portfolio .nav-tabs .nav-link{
    border: none;
  }
    .portfolio .nav-tabs{
        border-bottom: none;
    }
.Testimonials img{
    width: 100px;
    height: 100px;
}